.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 10.625rem;
    margin: auto;
}

.FormContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.formBody {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.HeaderText {
    text-align: center;
    font-size: 3.75rem;
    background: linear-gradient(to bottom, #7191D1 , #B0CAFF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding-bottom: 6.25rem;
}

.submitButton {
    width: min(90vw, 50rem);
    margin-inline: auto;
    padding-inline: 1rem;
    background: linear-gradient(to bottom, #7191D1 , #B0CAFF);
    transition: color, transform 120ms ease;
    height: 5rem;
    font-size: 1.875rem;
    border-radius: 1rem;
}

.submitButton:hover {
    color: cornsilk;
    transform: scale(1.03);
}

.textInput {
    background: white;
    width: min(90vw, 50rem);
    margin-inline: auto;
    padding-inline: 1rem;
    height: 5rem;
    font-size: 1.875rem;
    color:rgba(30, 41, 57, 1);
    border-radius: 0.5rem;
    text-align: center;
    margin-bottom: 1.25rem;
}

.redirectAuthLink {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    font-size: 1.25rem;
}
