.username-logout-container {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.LogOutButton{
    background-color: #600000;
    width: 70px;
    height: 30px;
    font-size: 16px;
    border-radius: 0.5rem;
    color: white;
    transition: all 0.15s ease-in-out;
    transition-delay: 50ms;
}

.LogOutButton:hover{
    background-color: #400000;
}

.Title{
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: white;
    margin-left: 1rem;
}

.last{
    margin-right: 5rem;
}